<html>
    <head>
        <link rel="stylesheet" href="css/lym.css">
    </head>
    <body>
        {{>body}}
        <script data-main="/js/bundle" src="/lib/require.js"></script>
    </body>
</html>