<html>
    <head>
        <link rel="stylesheet" href="css/first-bundle.css">
        <link rel="stylesheet" href="css/lym.css">
    </head>
    <body>
        <div class="layout">
            [defaultLayout-hbs-output]
        </div>
        {{>body}}
        <script data-main="/js/bundle1" src="/lib/require.js"></script>
    </body>
</html>