<div class="second">
    [second-hbs-output]

    <!-- ignore second.json model, it won't be available in current context -->

    <!-- javascript content will be inserted here -->
    <div id="second"></div>
</div>